 html, body {
  background-color: #1e1e2f;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 3px;
  margin-top: -5px;
}

select,
#button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

#button {
  background-color: #2c2c3a;
  color: white;
}

#image {
  max-width: 90%;
  max-height: 60vh;
  border-radius: 12px;
  margin: 20px 0;
  border: 2px solid #fff;
}

select {
  outline: none; 
  border: none;  
  background-color: #2c2c3a; 
  color: white;
  padding: 10px;
  border-radius: 5px;
}

select:focus {
  outline: none; 
  box-shadow: none; 
}

#As {
  color: #ADB2E8;
}

#vrati {
  z-index: 50;
  position: fixed;
  top: 17px;
  left: 4px;
  border: none;
  background: none;
}

#vrati > img {
  width: 30px;
  height: 30px;
}

#odhavise {
  position: fixed;
  right: 6px;
  top: 10px;
  width: 60px;
  height: 37px;
  border: none;
  color: #ADB2E8;
  border-radius: 16px;
  background-color: #2c2c3a;
}

@media (max-width: 360px;) {
 #odhavise {
  top: 18px;
  right: 10px;
 }
}
