    body {
      font-family: sans-serif;
      padding: 0px;
      margin: 0px;
      background-color: #1e1e2f;
    }
    
    #avatarPreview {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
      margin-top: 20px;
    }
    
    #changeBtn,
    #saveBtn {
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      border: none;
    }
    
    #changeBtn {
      margin-top: 40px;
    }
    
    #saveBtn {
      margin-top: 20px;
    }
    
    #iconUpload {
      display: none;
    }
    
    #username {
      margin-top: 10px;
      font-weight: bold;
      font-size: 19px;
      color: white;
    }
    
    #vrati>a {
      margin-left: 5px;
      text-decoration: none;
    }
    
    #strelica {
      width: 30px;
      height: 30px;
      margin-top: 0px;
    }
    
    h2 {
      margin-left: 100px;
      margin-top: -50px;
      color: white;
    }
    
    .svi {
      background-color: #2c2c3a;
      width: 350px;
      height: 400px;
      text-align: center;
      margin-left: 18px;
      margin-top: 90px;
      border-radius: 15px;
    }
    
  #hanimec {
    position: absolute;
    left: 330px;
    top: 160px;
    border: none;
    background: none;
    color: #ADB2E8;
  }